// ==================================================================
// FONTS
// Nunito 200
// Nunito 200i
// Nunito 300
// Nunito 300i
// Nunito 400
// Nunito 400i
// Nunito 600
// Nunito 600i
// Nunito 700
// Nunito 700i
// Nunito 800
// Nunito 800i
// Nunito 900
// Nunito 900i
// ==================================================================



// ==================================================================
// FONTS
// ==================================================================


// Nunito 200
// ==================================================================
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200;
  src: local('Nunito ExtraLight'), local('Nunito-ExtraLight');
}


// Nunito 200i
// ==================================================================
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 200;
  src: local('Nunito ExtraLight Italic'), local('Nunito-ExtraLightItalic');
}


// Nunito 300
// ==================================================================
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: local('Nunito Light'), local('Nunito-Light');
}


// Nunito 300i
// ==================================================================
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 300;
  src: local('Nunito Light Italic'), local('Nunito-LightItalic');
}
