@include screenSize(sm) {

  // ==================================================================
  // COMPONENT
  // sidebar
  //   __inner
  //   __header
  //     __main
  // ==================================================================



  // ==================================================================
  // COMPONENT
  // ==================================================================
  .sidebar {


    &__inner {
      width: 60%;
    }


    &__header {


      &__main {
        padding: {
          top: 2rem;
          bottom: 2rem;
        }
      }
    }
  }
}