// ==================================================================
// COMPONENT
// indicator
// ==================================================================



// ==================================================================
// COMPONENT
// ==================================================================
.indicator {
  border-radius: 50%;
  background-color: var(--color-default-light);
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
}