@include screenSize(xs) {

  // ==================================================================
  // COMPONENT
  // navigation-bar
  //   __extra
  //     -right
  //     -left
  // ==================================================================



  // ==================================================================
  // COMPONENT
  // ==================================================================
  .navigation-bar {
    justify-content: center;
    position: relative;


    &__extra {
      position: absolute;
      top: 0;
      height: 100%;

      &.-right {
        right: 0;
      }

      &.-left {
        left: 0;
      }
    }
  }
}