// ==================================================================
// COMPONENT
// icon
//   -margin-right
//   -margin-left
// ==================================================================



// ==================================================================
// COMPONENT
// ==================================================================
.icon {
  display: inline-flex;

  &.-margin-right {
    margin-right: 0.5em;
  }

  &.-margin-left {
    margin-left: 0.5em;
  }
}