// ==================================================================
// COMPONENT
// view-standalone
//   __boxed-content
// ==================================================================



// ==================================================================
// COMPONENT
// ==================================================================
.view-standalone {
  background: linear-gradient(to bottom, var(--color-secondary) 0%, var(--color-primary) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  overflow: {
    x: hidden;
    y: auto;
  }


  &__boxed-content {
    @include paddingVtInScrollView;
    padding: {
      right: var(--space-hz-default);
      left: var(--space-hz-default);
    }
    width: 50rem;
    max-width: 100%;
    max-height: 100%;
  }
}