// ==================================================================
// COMPONENT
// layout
//   __area
//     --before
//     --main
//     --after
// ==================================================================



// ==================================================================
// COMPONENT
// ==================================================================


// layout
// ==================================================================
.layout {
  display: flex;


  &__area {
    display: flex;
    flex-shrink: 0;


    &--before {
      @extend .layout__area;
    }


    &--main {
      flex-grow: 1;
      min-width: 0;
    }


    &--after {
      @extend .layout__area;
    }
  }
}