// ==================================================================
// COMPONENT
// app
// BREAKPOINTS
// ==================================================================



// ==================================================================
// COMPONENT
// ==================================================================
.app {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
}



// ==================================================================
// BREAKPOINTS
// ==================================================================
@import "app--md";