// ==================================================================
// COMPONENT
// app
// BREAKPOINTS
// ==================================================================



// ==================================================================
// COMPONENT
// ==================================================================
.app, #__nuxt {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--color-background);
  width: 100%;
  height: 100%;
}



// ==================================================================
// BREAKPOINTS
// ==================================================================
@import "app--md";
