// ==================================================================
// COMPONENT
// app
// BREAKPOINTS
// ==================================================================



// ==================================================================
// COMPONENT
// ==================================================================
.app, #__nuxt {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--color-background);
  width: 100%;
  min-height: 100%;
}

body > div {
  background: {
    image:  url('../images/unicorn.png');
    position: right;
    repeat: no-repeat;
    size: 40%;
  }
  min-height: 100%;
  font-family: Philosopher;
}

.content {
  padding: 50px 0;
}

h2 {
  font-size: 2.3rem;
  color: #3f51b5;
}

.rbutextarea {
  padding: 15px;
  height: 180px;
}

.pre-formatted {
  white-space: pre;
}



// ==================================================================
// BREAKPOINTS
// ==================================================================
@import "app--md";
