// ==================================================================
// COMPONENT
// app-view
//   __inner
// BREAKPOINT
// ==================================================================



// ==================================================================
// COMPONENT
// ==================================================================
.app-view {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;


  &__inner {
    display: flex;
    flex: 1;
    overflow: {
      x: hidden;
      y: auto;
    };
    position: relative;
    z-index: 1;
  }
}



// ==================================================================
// BREAKPOINT
// ==================================================================
@import "app-view--md";